
@{
    ViewData["Title"] = "GetDemo";
}



<h1>GetDemo</h1>
<input type="text" id="textbox1" />
<button id="button1" class="btn btn-warning">Click</button>
<div class="alert alert-warning" role="alert" id="div1"></div>
@section Scripts{
    <script>
    const btn = document.querySelector("#button1")
    const txtBox = document.querySelector("#textbox1")
    const theDiv = document.querySelector("#div1")
    btn.addEventListener("click", () => {
        //讀取 textbox中的資料
        console.log(txtBox.value)
        //todo 透過Ajax
        //將textbox中的資料傳到伺服器
        //伺服器收到資料後回傳 Hello xxxx
        //步驟一建立Ajax物件
        const xhr = new XMLHttpRequest();
        //步驟二發出要求
       // xhr.open("GET", "/api/Index?keyword=" + txtBox.value)
        const url = "@Url.Content("~/API/index")"  // api/index
        const params = `?keyword=${txtBox.value}`
        xhr.open("GET", url+params)
        xhr.send()
        //步驟三接收資料
        xhr.addEventListener("load", () => {
            const data = xhr.responseText
            theDiv.textContent = data
        })
    })
    </script>
}