@{
    ViewData["Title"] = "Home Page";
}

@section Styles{
    <style>
        h1 {
            color: burlywood
        }
        li{
            text-align:left
        }
        .Molly {
            text-align: center;
            border: dotted 5px #C4E1FF
        }
    </style>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul id="Ul">
        <li style="color:blue" class="Molly">Molly's HomeWork</li>
    </ul>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>




@section Scripts{
    <script src="~/js/travel.js"></script>
    <script>
        /*        console.log("Hello JSON!!")*/
        //var emps = [{ "name": "Tom", "workYears": 3, "salary": 35000 },
        //{ "name": "Jack", "workYears": 5, "salary": 40000 },
        //    { "name": "Mary", "workYears": 7, "salary": 45000 }];
        ////console.log(emps[0].name);
        //for (let i = 0, max = emps.length; i < max; i++) {
        //    console.log(emps[i].name);
        //    console.log(emps[i].workYears);
        //    console.log(emps[i].salary);
        //}

        //讀出emp裡面的所有資料
        //var emp = {
        //    "employees": [
        //        { "name": "Tom", "workYears": 3, "salary": 35000 },
        //        { "name": "Jack", "workYears": 5, "salary": 40000 },
        //        { "name": "Mary", "workYears": 7, "salary": 45000 }
        //    ]
        //};
        //const theUl = document.querySelector("#Ul")
        //const docFrag = document.createDocumentFragment()

        //for (let i = 0, max = emp.employees.length; i < max; i++) {
        //    console.log(emp.employees[i].name);
        //    console.log(emp.employees[i].workYears);
        //    console.log(emp.employees[i].salary);

        //    const { name, workYears, salary } = emp.employees[i]
        //    const txtLi = document.createTextNode(name + "," + workYears)
        //    const eleLi = document.createElement("li")
        //    eleLi.appendChild(txtLi)
        //    docFrag.appendChild(eleLi);
        //}
        //theUl.appendChild(docFrag)
        const theUl = document.querySelector("#Ul")
        const docFrag = document.createDocumentFragment()

        for (let i = 0; i < DATAS.length; i++) {
            const { Name, Add, Tel, Ticketinfo} = DATAS[i];
            const txtLi = document.createTextNode(Name + ", " + Add + ", " + Tel + ", " + Ticketinfo);
            const eleLi = document.createElement("li");
            eleLi.appendChild(txtLi)
            docFrag.appendChild(eleLi)
        }
        theUl.appendChild(docFrag)




    </script>



}

